@import url('https://fonts.googleapis.com/css?family=Rubik:300,400');
@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700');


@keyframes zoomIn {
  0%   { transform: scale(0) rotate(360deg); }
  75%  { transform: scale(1.2) rotate(0deg); }
  100% {transform: scale(1) rotate(10deg); }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  background: #007d72;
  color: #fff;
}

#kitchen h2 {
  text-align: center;
  margin: 40px 0;
}

#pizza-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pizza-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 400px;
  transform: rotate(10deg);
  animation: zoomIn 1s;
}

.pizza-slice {
  flex: 1 1 auto;
  width: 200px;
  transition: transform 0.5s;
}

.slice-1 {
  transform: rotate(90deg);
}

.slice-2 {
  transform: rotate(270deg);
}

.slice-3{
  transform: rotate(180deg);
}

.hidden {
  transform: scale(0) rotate(180deg);
}

#text-container {
  width: 100%;
  text-align: center;
  margin: 10px 0 0 0;
}

#button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bake-pizza-button, #eat-pizza-button {
  padding: 10px 20px;
  margin: 10px;
  background: #36b425;
  border-radius: 5px;
}

#bake-pizza-button:hover, #eat-pizza-button:hover {
  background: #31a521;
  cursor: pointer;
}

#bake-pizza-button:active, #eat-pizza-button:active {
  background: #2d981e;
  cursor: pointer;
}
